.initialImage {
    display:flex;  
    align-items: center;
    justify-content: center;
    
    div {
        display:flex;  
    align-items: center;
    justify-content: center;
        align-items: center;
    }

    img {
        
        width: 70%;
    }
   
  }